# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py[cod].lock
# Virtual environment
.venv/
.lab-dio/
# Environment variables
.env
# Editor directories and files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
# macOS
.DS_Store
# Logs
*.log
# Pytest
.pytest_cache/
# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
